<% provide(:page_title, @blog.blog_title) %>
<% provide(:blog_active, 'active') %>

<div class="container">
    <div class="col-md-12">

        <div class="col-md-8">
            <div class="col-md-12 bgclor">
                <div class="border_bottem">
                    <p class="margin_top" style="font-size:22px"><%= @blog.blog_title.titleize %></p>
                    <p>posted by <a href="#"><%= @blog.user.name.titleize %></a> on <a href="#">Dec 8,2016</a><span style="float:right;">
                   <a href="#"><span class="fa fa-envelope">  </span> <%= @blog.user.email %></a>
                 </span></p>
                </div>
                <div class="col-md-12 margin_top border_bottem margin_bottom">
                    <p><%= strip_tags(@blog.blog_description.html_safe) %></p>
                </div>
                <div class="col-md-12 margin_top">
                    <div class="feet-icons">
                        <a class="facebook-ico" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter-ico" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="plus-ico" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="linked-ico" data-href="#"><i class="fa fa-linkedin"></i></a>
                        <a class="insta-ico" data-href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>

                <div class="auth-panel col-md-12">
                    <div class="col-md-3">
                        <img alt="<%=@blog.user.name %>" class="author_avatar" height="96" src="<%= @blog.user.image%>" width="96">
                    </div>
                    <div class="col-md-9">
                        <h4>About <%= @blog.user.name.titleize%></h4>
                        <p>User Data</p>
                    </div>
                </div>

                <div class="col-md-12 margin_top margin_bottom">
                    <div class="comments" id="comments">
                        <div class="commenter">
                            <h5><i class="fa fa-comments-o" style="font-size:18px;"></i>
                                <%= @blog.comments.count if @blog.comments.present?%> comments:</h5>
                            <a class="buffer" id="writeComments" href="#">Write comments</a>
                        </div>
                        <div class="comments-content">
                            <div>
                                <%= paginate @comments%>
                            </div>
                            <ol id="allcomments">
                                <%= render @comments %>
                            </ol>
                        </div>
                        <div id="allCommentsFormHolder">
                            <%= render "comments/form" %>
                        </div>
                    </div>
                </div>

            </div>




        </div>


        <div class="col-md-4 row">
            <div class="col-md-12 bgclor">
                <div class="col-md-12 margin_top margin_bottom">
                    <form>
                        <input type="search" name="search" placeholder="Search.." id="searchbox">
                    </form>
                </div>
            </div>
            <div class="col-md-12 bgclor">
                <div class="col-md-12 container" style="border-bottom: 2px solid #eee;">
                    <h4>Popular Posts<h4>
                </div>

                <div class="col-md-12 row margin_top margin_bottom">
                    <div class="col-md-5">
                        <img src="/assets/400.jpg" width="100%"></img>
                    </div>
                    <div class="col-md-7">
                        <a href="#"><p>Youtube Embeded Video For Exotic Cars</p></a>
                    </div>
                </div>

                <div class="col-md-12 row margin_top margin_bottom">
                    <div class="col-md-5">
                        <img src="/assets/400.jpg" width="100%"></img>
                    </div>
                    <div class="col-md-7">
                        <a href="#"><p>Ultra Responsive, Looks Great On Every Device</p></a>
                    </div>
                </div>

                <div class="col-md-12 row margin_top margin_bottom">
                    <div class="col-md-5">
                        <img src="/assets/400.jpg" width="100%"></img>
                    </div>
                    <div class="col-md-7">
                        <a href="#"><p>Ultra Responsive, Looks Great On Every Device</p></a>
                    </div>
                </div>

                <div class="col-md-12 row margin_top margin_bottom">
                    <div class="col-md-5">
                        <img src="/assets/400.jpg" width="100%"></img>
                    </div>
                    <div class="col-md-7">
                        <a href="#"><p>Ultra Responsive, Looks Great On Every Device</p></a>
                    </div>
                </div>


            </div>

            <div class="col-md-12 margin_top margin_bottom bgclor">
                <p style="font-size:20px; border-bottom: 2px solid #eee; margin-top:10px;">Categories</p>
                <% Category.all.each do |cat| %>
                    <a href="#"><p style="font-size:15px; border-bottom: 2px solid #eee; margin-top:10px;"><%= cat.category_name %></p></a>
                <% end %>
            </div>

        </div>
    </div>
</div>

<!--script to focus on text area for comments-->
<script>

    $(document).ready(function(){
        $("#writeComments").on('click',function(e){
            $('#comment_comment_body').focus();
            e.preventDefault();
        });
    });
//        jQuery(function(){
//        $('#writeComments').on('click',function(){
//            alert("clicked");
//            $('#allCommentsFormHolder').focus();
//        });
//    });
</script>
