<div class="col-md-12 well">
<hr class="horizontal_line"/>
<div class="text-center">
    <h1>Become a Certified Marketing Pro</h1>
    <h5>Beyondforth certification programs will take your marketing skills to the next level.</h5>
</div>
<div class="gap_padding"></div>
<div class="well border_bottom">
    <div class="col-md-7">
        <h3>Inbound Marketing Certification</h3>

        <p>
            Beyondforth Inbound marketing certification includes nine classes that cover the core elements of inbound
            marketing strategy. From optimizing your website to landing
            page anatomy to segmenting your contact database, these classes are the bread, and butter of what inbound
            marketing is all about.
        </p>
        <a href="#" class="btn btn-info btn-lg" role="button">View Classes</a>
    </div>
    <div class="col-md-5">
        <div class="right_image img-responsive"><h4><strong>INBOUND MARKETING CERTIFICATION</strong></h4></div>
        <div class="right_image1">
            <div class="right_image2">
                <%= image_tag("inbound_marketing_certification_cap.png",:alt => "home image",:class =>"cap_image") %>
                <!--<?php echo $this->Html->image("inbound_marketing_certification_cap.png", ['class' => 'cap_image']); ?>-->
            </div>
        </div>
        <!--<br/>-->
        <div class="gap_padding"></div>
        <div class="col-md-3">
            <a href="#">
                <%= image_tag("facebook-24x24.png") %>
                <!--<?php echo $this->Html->image("facebook-24x24.png"); ?>-->
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <%= image_tag("twitter-24x24.png") %>
                <!--<?php echo $this->Html->image("twitter-24x24.png"); ?>-->
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <%= image_tag("linkedin-24x24.png") %>
                <!--<?php echo $this->Html->image("linkedin-24x24.png"); ?>-->
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <%= image_tag("googleplus-24x24.png") %>
                <!--<?php echo $this->Html->image("googleplus-24x24.png"); ?>-->
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
</div>
<div class="div_width well well-sm well-background text-center"><p><strong>Get certified in-person at beyondforth
    inbound 2013
    conference</strong></p>
</div>
<div class="text-center"><h2>How it works:</h2></div>
<div class="col-md-4">
    <h3>
        1. Sign up or log in
    </h3>

    <p>
        Sign up for a complimentary beyondforth account. Get access to your certification library, study guides and some
        other fun beyondforth tools.Already a paying customer? simply login and look for us under the Academy navigation
        tab.
    </p>
</div>
<div class="col-md-4">
    <h3>
        2. Take your classes
    </h3>

    <p>
        Each certification has its own preparatory classes, and resources. Watch our videos at your own pace and
        use your study guide to prepare for your certification exam.
    </p>
</div>
<div class="col-md-4">
    <h3>
        3. Pass the exam
    </h3>

    <p>
        Register for and take your certification exam.track your grade from within your beyondforth account.Pass your
        certificate with
        a score of certificate and join the community of inbound marketing professionals.
    </p>
</div>
<div class="clearfix"></div>
<div class="gap_padding"></div>
</div>



