<div class="col-md-12 well">
<div class="gap_padding"></div>
<nav class="navbar navbar-default competitors_part1" role="navigation">
    <h2>Competitors</h2>

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#Competitors-page">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="Competitors-page">
            <ul class="nav navbar-nav list-inline">
                <li class="dropdown">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-rss"></i> Marketing Grade <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-calendar"></i> Last 3 months <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="competitors_part2">
    <div class="row">
    <div class="col-md-9" style="border-right:1px solid #DFDFDF">
        <%= image_tag("competitors_graph.png", width: "100%") %>
        <!--<?php echo $this->Html->image("competitors_graph.png"); ?>-->
    </div>
    <div class="col-md-3" style="margin-top: 10px;">
        <button class="btn btn-primary btn-block gradiant"><strong>Add new competitor</strong></button>
        <h4>Marketing grade</h4>

        <p> Aholistic measure of a site's online presence as measured by HubSpot's Marketing Grader on a scale of
            0-100.</p>
    </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="gap_padding"></div>

<div class="table-responsive table_div">
    <table class="table table-striped table_div1">
        <thead>
        <tr>
            <th class="table_manage_th1">Website</th>
            <th class="table_manage_th2">Marketing Grade</th>
            <th class="table_manage_th2">Traffic Rank</th>
            <th class="table_manage_th2">Indexed Pages</th>
            <th class="table_manage_th2">Linking Domain</th>
            <th class="table_manage_th2">mozRank</th>
            <th class="table_manage_th2">Facebook Fans</th>
            <th class="table_manage_th2">Twitter Followers</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <%= link_to(image_tag("competitorTable.png")) %>
                <!--<?php echo $this->Html->image("competitorTable.png"); ?>-->
                <strong>soarlogic.com</strong></td>
            <td>61</td>
            <td>4,104,283</td>
            <td>87</td>
            <td>11</td>
            <td>4.9</td>
            <td>130</td>
            <td>30<%= link_to(image_tag("competitorTable1.png")) %>
                <!--<?php echo $this->Html->image("competitorTable1.png"); ?>-->
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to(image_tag("competitorTable.png")) %>
                <!--<?php echo $this->Html->image("competitorTable.png"); ?>-->
                <strong>soarlogic.com</strong></td>
            <td>61</td>
            <td>4,104,283</td>
            <td>87</td>
            <td>11</td>
            <td>4.9</td>
            <td>130</td>
            <td>30<%= link_to(image_tag("competitorTable1.png")) %>
                <!--<?php echo $this->Html->image("competitorTable1.png"); ?>-->
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to(image_tag("competitorTable.png")) %>
                <!--<?php echo $this->Html->image("competitorTable.png"); ?>-->
                <strong>soarlogic.com</strong></td>
            <td>61</td>
            <td>4,104,283</td>
            <td>87</td>
            <td>11</td>
            <td>4.9</td>
            <td>130</td>
            <td>30
                <%= link_to(image_tag("competitorTable1.png")) %>
                <!--<?php echo $this->Html->image("competitorTable1.png"); ?>-->
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div class="gap_padding"></div>
</div>

