<nav class="row nav navbar-default navbar-inverse">
    <div class=" view_page">

        <div class="in_text">
            <h1><strong>Create marketing<br> people love.</strong></h1>

            <!-- <div class="clear"></div>
            -->

            <p><strong> Use Beyondfourth Inbound marketing software to<br>
                consistently generate more visits leads, and<br> customers.</strong></p>


            <button type="button" class="btn btn-primary button_color">
                Request a demo trail
                <!--<?php echo $this->Html->link("Request a demo", ['controller' => 'homes', 'action' => 'trail'], ['style' => 'color:#fff']);?>-->
                <input type="checkbox">
            </button>


            <button type="button" class="btn btn-primary button_color1">
                View all Features
                <input type="checkbox">
            </button>

        </div>
    </div>
</nav>
<div class="text-center padding-heading">
    <h3><strong>Why over 9,000 professional marketers & team trust Beyondfourth</strong></h3>
</div>


<div>

    <div class="col-md-4">
        <div class="thumbnail">

            <div class="icon_circle">
                <a href="#">
                    <%= link_to(image_tag("circle1.png", :alt => "home image"),:class =>"icon") %>
                    <!--<?php echo $this->Html->image("/img/circle1.png", array("class" => "icon")); ?>-->
                </a>
            </div>

            <div class="caption">

                <h3>Try our Marketing Tool</h3>

                <p> analyze inbound links to your site,discover how your content is shared through social media
                    ,and more with our free tools</br>
                </p>


                <div align="center">


                    <button type="button" class="btn btn-success button_color">Explore our Tools</button>
                </div>


            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">

            <div class="icon_circle">
                <a href="#">
                    <%= link_to(image_tag("circle1.png", :alt => "home image"),:class =>"icon") %>
                    <!--<?php echo $this->Html->image("/img/circle1.png", array("class" => "icon")); ?>-->
                </a>
            </div>

            <div class="caption">
                <h3>Learn Inbound Marketing</h3>

                <p> we create guides,video and more to teach you inbound marketingand
                    keep you update on industry development
                </p>

                <div align="center">
                    <button type="button" class="btn btn-success button_color">Explore our Resources</button>
                </div>


            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">

            <div class="icon_circle">
                <a href="#">
                    <%= link_to(image_tag("circle1.png", :alt => "home image"),:class =>"icon") %>
                    <!--<?php echo $this->Html->image("/img/circle1.png", array("class" => "icon")); ?>-->
                </a>
            </div>
            <div class="caption">
                <h3>Join the Conversation</h3>

                <p> join the 300,000+member who contribute to our vibrant
                    community and learn from industry expert in our Q&A form
                </p>

                <div align="center">
                    <button type="button" class="btn btn-success button_color">Explore our community</button>
                </div>


            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>



<div class="heading">
    <div>

        <h2 align="center"><strong>What Possible With Hubspot's All In One Marketing Software?</strong></h2>
    </div>
</div>




<!--<div class="label_content_outer5 bg_repeat">-->

<div class="label_inner6">
    <div class="col-md-4">
        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p1.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p1.png", array('class' => 'logo_image_inner')); ?> -->
            </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Blogging' ) %>
                    <!--<?php echo $this->Html->link('Blogging', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p>Create blog content quickly while<br> getting SEO tips and best<br> practice pointers as you type.</p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p2.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p2.png", array('class' => 'logo_image_inner')); ?>  -->
            </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Calls To Action' ) %>
                    <!--<?php echo $this->Html->link('Calls To Action', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p>Increase conversion rate with<br> calls to action personlized <br>according to your visitor's<br>
                    action.</p>
            </div>
        </div>

        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p3.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p3.png", array('class' => 'logo_image_inner')); ?>-->
            </a>
            <div class="main boday">

                <h4>
                    <%= link_to('Email' ) %>
                    <!--<?php echo $this->Html->link('Email', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p>Send Personlized, segmented<br> email based on any information<br> in your contact database.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p4.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p4.png", array('class' => 'logo_image_inner')); ?> -->
            </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Search Engine Optimization' ) %>
                    <!--<?php echo $this->Html->link('Search Engine Optimization', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p> Improve your rank in search<br> engines by finding and tracking<br> your most effective keyword.</p>
            </div>
        </div>

        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p5.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p5.png", array('class' => 'logo_image_inner')); ?>-->
            </a>

            <div class="media-body">
                <h4>
                    <%= link_to('Landing Pages' ) %>
                    <!--<?php echo $this->Html->link('Landing Pages', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p>Create landing page that are<br> beautiful on any device and<br> personalized foreach visitor.</p>
            </div>
        </div>


        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p6.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p6.png", array('class' => 'logo_image_inner')); ?>-->
            </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Marketing Automation' ) %>
                    <!--<?php echo $this->Html->link('Marketing Automation', '/pages/home', array('class' => '', 'target' => '_blank')); ?></strong>-->
                </h4>

                <p> Nurture leads via email your<br> website,or any other channel you<br> choose.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p7.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p7.png", array('class' => 'logo_image_inner')); ?>-->
            </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Social Media' ) %>
                    <!--<?php echo $this->Html->link('Social Media', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p>publish content to your social<br> account,then nurture leads<br> based on their social<br> engagement.</p>
            </div>
        </div>


        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p8.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p8.png", array('class' => 'logo_image_inner')); ?>-->
            </a>

            <div class="media-body">
                <h4>
                    <%= link_to('Lead Management' ) %>
                    <!--<?php echo $this->Html->link('Lead Management', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p> Track lead with a complete<br> timeline-view on their intractions<br> with your company.</p>
            </div>
        </div>


        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p9.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p9.png", array('class' => 'logo_image_inner')); ?>-->
            </a>

            <div class="media-body">
                <h4>
                    <%= link_to('Closed Loop Analytics' ) %>
                    <!--<?php echo $this->Html->link('Closed Loop Analytics', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p> Analyze your web traffic and see <br>which source are genrating the<br> most lead.</p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div style="height:15px;"></div>


