<h3>Maketing Grader Reports</h3>
<div class="well">
    <div class="col-md-1 ">
        <h1><strong>65</strong></h1>overall
    </div>
    <div class="col-md-7 pull-left padding_margin">
        <h4><strong>soarlogic.com</strong></h4>
        <span class="glyphicon glyphicon-calendar"></span>
        Last Update:6/12/13 - <a href=""> Update Now</a>
    </div>
    <div class="col-md-4 pull-right padding_margin">
        <div align="center">
            <button type="button" class="btn btn-blue-gradient">Grade This Website</button>
            <i class="fa fa-reply fa-rotate-90"></i>
        </div>
        <div>
            <p>Drag this button to your bookmarks bar and grade any website with single click.</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-----------------Next part starts from here---------------->
<div class="part_margin">
    <div class="col-md-4 pull-left well">
        <ul class="list-unstyled pramotion-links">
            <li><h6><strong>Blog</strong></h6></li>
            <li><a href="">http://soarlogic.wordpress.com/</a><span
            class="glyphicon glyphicon-remove small pull-right"></span></li>

            <li><h6><strong>RSS Feed</strong></h6></li>
            <li><a href="">http://soarlogic.wordpress.com/feed/</a><span
            class="glyphicon glyphicon-remove small pull-right"></span></li>


            <li><h6><strong>Facebook Page</strong></h6></li>
            <li><a href="">http://www.facebook.com/soarlogic</a><span
            class="glyphicon glyphicon-remove small pull-right"></span></li>

            <li><h6><strong>Twitter</strong></h6></li>
            <li><a href="">@soarlogic</a><span class="glyphicon glyphicon-remove small pull-right"></span></li>
        </ul>
        <div class="padding3">
            <button type="button" class="btn btn-gray btn-default">Update & Run Report</button>
            <a class="pull-right" href="">Edit</a>
        </div>
    </div>
    <div class="col-md-8 padding_panel pull-right">
        <div class="panel panel-default">
            <div class="panel-heading text-right">
                <h3 class="panel-title"><strong>soarlogic.com</strong></h3>
            </div>
            <table class="table table-hover">
                <tr>
                    <td>
                        <ul class="list-unstyled">
                            <li><h4><strong>Top of the Funnel</strong></h4></li>
                            <li class="dark_sky_blue">
                                <span class="glyphicon glyphicon-ok"></span>
                                <a href="" class="dark_sky_blue"><strong>Top 3 Action Items</strong></a>
                            </li>
                        </ul>
                    </td>
                    <td class="info"><h3 align="center"><strong>54%</strong></h3></td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-unstyled">
                            <li><h4><strong>Middle of the Funnel</strong></h4></li>
                            <li class="dark_sky_blue"><span class="glyphicon glyphicon-ok"></span>
                                <a href="" class="dark_sky_blue"><strong>3 Action Items</strong></a>
                            </li>
                        </ul>
                    </td>
                    <td class="info"><h3 align="center"><strong>50%</strong></h3></td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-unstyled">
                            <li><h4><strong>Analytics</strong></h4></li>
                            <li class="dark_sky_blue"><span class="glyphicon glyphicon-ok"></span>
                                <a href="" class="dark_sky_blue"><strong>Nothing left to do here(see
                                    reports)</strong></a>
                            </li>
                        </ul>
                    </td>
                    <td class="info"><h3 align="center"><strong>100%</strong></h3></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!-- ------------funnel page starts from here----------------->
<div class="part_margin">
    <div class="media">
        <a href="" class="pull-left">
            <%= link_to(image_tag("funnel_small.png"),:class =>"id_image img_circle pull-left") %>
            <!--<?php echo $this->Html->image("funnel_small.png", ['class' => 'id_image img-circle pull-left']); ?>-->
        </a>

        <div class="media-body">
            <h4><strong>Top of the Funnel</strong></h4>
            <%= link_to(image_tag("marketing_grader1.png"),:class =>"pull-right") %>
            <!--<?php echo $this->Html->image("marketing_grader1.png", ['class' => 'pull-right']); ?>-->

            <p>Creating, optimizing and pramoting content are keys to filling the top of your sales and marketing funnel
                with more website traffic and leads. The good news is that companies who create, optimize and
                create optimize and pramote there blogs get <a href="" class="dark_sky_blue">55% more traffic</a> and
                <a href=""class="dark_sky_blue">70% more leads</a> more than those who don't.</p>
            <h4><strong>Top 3 Action Items</strong></h4>
            <ol class="dark_sky_blue">
                <li>
                    Get more people to tweet your content by making it more remarkable and/or it easier to share.
                </li>
                <br/>
                <li>
                    Get more people to share your content on facebook by making it more remarkable and/or making it
                    easier
                    to share.
                </li>
                <br/>
                <li>
                    Add social sharing buttons to your blog.
                </li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!----------Next content--------->
<div class="padding_left_side part_margin">
    <b class="head_size "><strong><a style="color:#000000;" id="blo">Blogging</a></strong></b>
    <ul class="list-inline pull-right">
        <li>
            Jump To:
        </li>
        <li>
            <a href="#blo" style="color:#000000;"> Blogging </a>&nbsp;|
        </li>
        <li>
            <a href="#seo"> SEO </a>&nbsp;|
        </li>
        <li>
            <a href="#mobile"> Mobile </a>&nbsp;|
        </li>
        <li>
            <a href="#social"> Social </a>
        </li>
    </ul>
    <div class="part_margin">
        <p>
            Every webpage has the potential to rank well in search engines and draw traffic from other sources, social
            media sites and the blogosphere.
            Of course, whether the page draw traffic(and links)
            depends on whether it's optimized and how remarkable(useful, interesting etc.)
            it is. Blogging is a great way to add interesting content to your site so you can get more traffic and
            leads.
        </p>
    </div>
</div>
<!------------------------------------------nexxt part------------------------>
<div class="part_margin">
    <div class="col-md-8 media">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="media-body">
            <h4><strong>Yay! You have a blog!</strong></h4>

            <p>You've got a blog, which mean you know it's the best way to reach your
                target audience and grab them with the content they crave. In fact, it might already be the
                only way to reach them.</p>

            <div class="padding">
                <a href="" class="dark_sky_blue"><strong>http://saorlogic.wordpress.com</strong></a>
            </div>
            <div class="padding">
                <button type="button" class="btn btn-gray btn-default btn-xs">Did we guess the wrong Blog URL?</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p>Did you know that companies that blog get <a  href="" class="dark_sky_blue">55% more web traffic</a> and
            <a href="" class="dark_sky_blue">70% more leads</a> than those that don't?</p>
    </div>
    <div class="clearfix"></div>
</div>
<!------------------NExt content--------------->
<div class="part_margin">
    <a href="" class="pull-left"><span class="glyphicon glyphicon-ok green"></span><br/>
        <i class="fa fa-info-circle"></i></a>

    <div class="media">
        <div class="media-body">
            <h4><strong>Recent Blog Articles</strong></h4>

            <p>Blog post that were shared on just twitter had 113% more inbound links than
                those not shared on social media at all.</p>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table">
            <tr style="color:#C7C8C8;" class="tab_head panel-heading ">
                <td>Article</td>
                <td>Tweets</td>
                <td class="text-right">Facebook Shares</td>
            </tr>
            <tr class="active">
                <td class="dark_sky_blue">IBM and Salesforce.com spend a combined of $4.5 Billion of cloud</td>
                <td>0&nbsp;<span class="glyphicon glyphicon-remove small dark_red"></span></td>
                <td><b class="pull-right">0&nbsp;<span class="glyphicon glyphicon-remove small dark_red"></span></b>
                </td>
            </tr>
            <tr>
                <td class="dark_sky_blue">TechEd crystalizes Microsoft's BYOD strategy</td>
                <td>0&nbsp;<span class="glyphicon glyphicon-remove small dark_red"></span></td>
                <td><b class="pull-right">0&nbsp;<span class="glyphicon glyphicon-remove small dark_red"></span></b>
                </td>
            </tr>
            <tr class="active">
                <td class="dark_sky_blue">Trend and Technologies in Software Development</td>
                <td>0&nbsp;<span class="glyphicon glyphicon-remove small dark_red"></span></td>
                <td><b class="pull-right">0&nbsp;<span class="glyphicon glyphicon-remove  small dark_red"></span></b>
                </td>
            </tr>
            <tr>
                <td class="dark_sky_blue">Android antiviral products easily evaded, study says</td>
                <td>1&nbsp;<span class="glyphicon glyphicon-ok padding0 green"></span></td>
                <td><b class="pull-right">0&nbsp;<span class="glyphicon glyphicon-remove  small dark_red"></span></b>
                </td>
            </tr>
            <tr class="active">
                <td class="dark_sky_blue">Indian IT to see strong revenue growth</td>
                <td>0&nbsp;<span class="glyphicon glyphicon-remove small dark_red"></span></td>
                <td><b class="pull-right">0&nbsp;<span class="glyphicon glyphicon-remove small dark_red"></span></b>
                </td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>
</div>
<!-------------------------------NEXT PART--------------------------------------->
<div class="part_margin">
    <div class="col-md-8 media">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="pull-left">
            <h4><strong>Are your blog post title unique and fewer than
                75 characters?</strong> <a href="" class="dark_sky_blue">YES</a></h4>

            <p> You've totaly nailed the science of blog post title! Keep them unique and
                short<br/>(under 75 characters) to really grab your reader's attention and maximize the SEO benefits</p>
            <br/>
        </div>
    </div>
    <div class="col-md-4">
        <p>B2B companies that blog generate <a href="" class="dark_sky_blue">67% more leads</a> per months than that do
            not.</p>
    </div>
    <div class="clearfix"></div>
</div>

<!---------------------next para-------------->

<div class="part_margin">
    <div class="col-md-8 media">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="media-body">
            <h4><strong>You publish new blog post every
                <a href="" class="dark_sky_blue">4 days</a> on average.</strong></h4>

            <p> You're doing great job creating and publishing blog
                content regularly, so get pumped! If you keep doing what you are doing, you'll see some serious return
                on
                your efforts before long</p>
        </div>
    </div>
    <div class="col-md-4">
        <p>Business that blog 20 times per month generates <a href="" class="dark_sky_blue">5X
            traffic</a> and <a href="" class="dark_sky_blue">4X more leads </a>than those that blog few times per month.
        </p>
    </div>
    <div class="clearfix"></div>
</div>
<!---------------------- Next------------------------>
<div class="part_margin">
    <div class="col-md-8 media">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="media-body">
            <h4><strong>Do you have an easily RSS feed?
                <a href="" class="dark_sky_blue">YES</a></strong></h4>

            <p> RSS is just another way of saying you mak eit easy for folks to subscribe
                to
                your content. Your RSS is what we like to
                call "auto-discoverable," which is geek-speak for "easy to find." Way to go.</p>

            <div class="padding">
                <a href="" class="dark_sky_blue"><strong>http://saorlogic.wordpress.com/feed</strong></a>
            </div>
            <div class="padding">
                <button type="button" class="btn btn-gray btn-default btn-xs">Did we guess the wrong RSS Feed ?</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p class="">About <a href="" class="dark_sky_blue">46% of daily internet
            users</a> read more than one blog every day.</p>
    </div>
    <div class="clearfix"></div>
</div>

<!-----------  next part------------------------->

<div class="part_margin">
    <div class="col-md-8  media">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="media-body">
            <h4><strong>Is your blog easy to find?
                <a href="" class="dark_sky_blue">YES</a></strong></h4>

            <p><b>Awesome-</b> we found your blog easy as pie looking on your home page. Two
                thumbs for you!</p>
        </div>
    </div>
    <div class="col-md-4 padding3 pull-right"></div>
    <p><a href="" class="dark_sky_blue">65% of daily internet users</a>
        read a blog. It could be YOUR blog if you make it easy for
        them to find it.</p>

    <div class="clearfix"></div>
</div>

<!-------------------==========--------=Next block-----------=======--========-->

<div class="part_margin">
    <div class="col-md-8 media">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-remove dark_red"></span> <br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="well media-body well_color ">
            <h4><strong>Is your easy to share? <a href="" class="dark_sky_blue">NO</a></strong></h4>

            <p> Whoopsie! You forget to add social sharing button to your blog. These handy little buttons make it
                super simple
                for your readers to share your awesome content on their social networks.</p>
            <hr/>
            <h4><strong> Learn More About How to Fix This </strong></h4>
            <%= link_to(image_tag("marketing_grader2.png"),:class =>"mrg_image pull-right") %>
            <!--<?php echo $this->Html->image("marketing_grader2.png", ['class' => 'mgr_image pull-right']); ?>-->

            <p>
                Ckeck out HubSpot's free ebook.<a href="" class="dark_sky_blue">How to use Facebook for
                Business,</a> to learn more about
                using social media for your blog.
            </p>
        </div>
    </div>
    <div class="col-md-4 pull right">
        Blog post that were shared on Tweeter and Facebook got <a href="" class="dark_sky_blue">149% more inbound
        links</a>
        than those not shared social media at all.
    </div>
    <div class="clearfix"></div>
</div>

<!---------------------------------- Next part starts---------------------------->

<div class="part_margin">
    <div class="col-md-8 media">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-remove dark_red"></span> <br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="well media-body well_color ">
            <h4><strong>You Blog posts are being tweeted o times on average.</strong></h4>

            <p> You're not getting much action on the social sharing scene- nobody's retweeteing your posts!
                Double check that you have social sharing button on site, and work on writing remarkable
                content that people want to share.</p>
            <hr/>
            <h4><strong> Learn More About How to Fix This </strong></h4>
            <%= link_to(image_tag("marketing_grader2.png"),:class =>"mgr_image pull-right") %>
            <!--<?php echo $this->Html->image("marketing_grader2.png", ['class' => 'mgr_image pull-right']); ?>-->

            <p>Optimize your Twitter presence using <a href="" class="dark_sky_blue">Beyondforth "Twitter for
                Business"</a> guide.</p>
        </div>
    </div>
    <div class="col-md-4 pull right">
        Blog posts shared on Twitter get <a href="" class="dark_sky_blue">113% more inbound
        links</a> than those not shared social media at all.
    </div>
    <div class="clearfix"></div>
</div>

<!-----------------------Next for facebook share------------------------>

<div class="part_margin">
    <div class="col-md-8 media">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-remove dark_red"></span> <br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="well well_color media-body ">
            <h4><strong>You Blog posts are being shared on Facebook <a href="" class="dark_sky_blue">0 times</a>
                on average.</strong></h4>

            <p> If dose'nt look like your're getting much love on facebook. You can make it easier for reders to
                share your content by adding social media buttons on your site but real key is to write remarkable
                content. </p>
            <hr/>
            <h4><strong> Learn More About How to Fix This </strong></h4>
            <%= link_to(image_tag("marketing_grader2.png"),:class =>"mrg_image pull-right") %>
            <!--<?php echo $this->Html->image("marketing_grader2.png", ['class' => 'mgr_image pull-right']); ?>-->

            <p>Ckeck out HubSpot's free ebook.<a href="" class="dark_sky_blue">How to use Facebook for
                Business,</a> to learn more about
                using social media for your blog.</p>
        </div>
    </div>
    <div class="col-md-4 pull right">
        Don't think sharing on Facebook matter?. Did you know that <a href="" class="dark_sky_blue">Facebook is now
        the most preferred way of
        sharing content</a>- second only to email?
    </div>
    <div class="clearfix"></div>
</div>

<!------------=====================Next for SEO-----------=======------------->

<div class=" padding_left_side part_margin">
    <div>
        <b class="head_size"><strong><a style="color:#000000;" id="seo">SEO</a></strong></b>
        <ul class="list-inline pull-right">
            <li>
                Jump To:
            </li>
            <li>
                <a href="#blo"> Blogging </a>&nbsp;|
            </li>
            <li>
                <a href="#seo" style="color:black;"> SEO </a>&nbsp;|
            </li>
            <li>
                <a href="#mobile"> Mobile </a>&nbsp;|
            </li>
            <li>
                <a href="#social"> Social </a>
            </li>
        </ul>
    </div>
    <div class="part_margin">
        <p>
            Optimize your content is a key step ensure you give your valuable content the best chance possible of
            drawing
            traffic form the web. In essence, this section is maximize your ROC-return on content.
        </p>
    </div>
</div>

<!--------------------------------next part----------------------->

<div class="part_margin">
    <div class="col-md-8 media">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="media-body">
            <h4><strong>Your site has 87 pages indexed by search
                engines.</strong></h4>

            <p class="pull-left"> Search engine look for fresh content so that they can
                serve it up later in
                search results. If they don't index it,result won't show it. The more fresh content you create, the
                more often search engines will come back looking for more. It's a beautiful thing. It's the cycle of
                life.</p>
        </div>
    </div>
    <div class="col-md-4 padding3 pull-right">
        <p> 46% of daily searches are for research on products or services.
            The more pages you have, the better chance you have of ranking high.
        </p>
    </div>
    <div class="clearfix"></div>
</div>

<!--------===============================next part-------------------------->

<div class="part_margin">
    <div class="well well_color">
        <h4><strong>We found <a href="" class="dark_sky_blue">35</a> images on your homepage, and
            <a href="" class="dark_sky_blue">20</a> of them have alt tags.</strong></h4>

        <p>
            Ouch-you don't have alt tags on all your images are invisible in search to search engines, and alt
            tags are wicked easy way to tell search engines what your page is about. Tuck in a keyword between some
            alt tags and maximize the impact of the images on your site.
        </p>
        <a href="" class="dark_sky_blue">See Details</a>
        <hr/>
        <h4><strong>Learn More About How to Fix This</strong></h4>

        <p>Download HubSpot's step by step guide to <a href="" class="dark_sky_blue">Learn SEO from the Expert</a>,
            and gain better understanding of how to optimize your images.</p>
    </div>
</div>

<!---------------------------------------Next part--------------------------------->

<div class="part_margin">
    <div class=" media col-md-8">
        <a href="" class="pull-left"><span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="media-body">
            <h4><strong>Your Moz Rank is
                <a href="" class="dark_sky_blue">4.9</a> .</strong></h4>

            <p> mozRank is on scale of 1 to 10 and SEOmoz's 10-point measure of link
                authority and popularity. It's similar to the old Google Page Rank and is logarithmic, so bear that in
                mind, too.(That means it's ten times as hard to move from a3 to a4 as it is move from a2 to a3.)</p>
        </div>
    </div>
    <div class="col-md-4">
        <p class="pull-right"><a href="" class="dark_sky_blue">89% of US internet users</a>
            search online before they make purchase, even when the purchase is made at a local business.</p>
    </div>
    <div class="clearfix"></div>
</div>

<!-----------------------------------------------------------Next part------------------------->

<div class="part_margin">
    <div class="media col-md-8">
        <a href="" class="pull-left">
            <span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i>
        </a>

        <div class="media-body">
            <h4><strong>11 others sites have linked to your site.</strong></h4>

            <p>Every links to your site is another vote in the giant popularity contest
                that is internet. The more sites that link to you, the better you will rank. Keep on creating and
                sharing all that great content, and you will keep moving closer to the top of chart.</p>
        </div>
    </div>
    <div class="col-md-4 pull-right">
        <p>Companies that blog have 97% more inbound links than
            those that don't. Creating great content is the key to key to getting inbound links-there's just
            no substitute. </p>
    </div>
    <div class="clearfix"></div>
</div>

<!-------------------------------------Next part---------------------------->

<div class="part_margin media">
    <a class="pull-left">
        <span class="glyphicon glyphicon-ok green"></span><br/>
        <i class="fa fa-info-circle"></i>
    </a>

    <div class="media-body">
        <h4><strong>Here are 11 authoritative pages that are
            linking to you.</strong></h4>

        <p>It's not enough to just get links from other
            sites-Those site need to be trustworthy and authoritative, too. Naturally, these are header to
            come by. but you're doing great so far. Keep it up!</p>
    </div>
</div>

<!-----------------------------------next part------------------------>

<div class="panel panel-default part_margin">
    <table class="table ">
        <tr style="color:#C7C8C8;" class="tab_head panel-heading ">
            <td>Domain</td>
            <td>Linking Page</td>

        </tr>
        <tr>
            <td>wordpress.com</td>
            <td><a href="" class="dark_sky_blue">Soarlogic Web development | Just another WordPr...</a></td>

        </tr>
        <tr class="active">
            <td>awesomize.me</td>
            <td><a href="" class="dark_sky_blue">Soarlogic Information Technologies Pvt. ltd.</a></td>

        </tr>
        <tr>
            <td>startupnews.in</td>
            <td><a href="" class="dark_sky_blue">Soarlogic lets your business soar higher| St...</a></td>
        </tr>
        <tr class="active">
            <td>whoisdaily.com</td>
            <td><a href="" class="dark_sky_blue">Alexa top domain list from 439001 to 440000</a></td>
        </tr>
        <tr>
            <td>wreckcheckcarscan.com</td>
            <td><a href="" class="dark_sky_blue">Wreck Check Car Scan</a></td>
        </tr>
        <tr class="active">
            <td>soarlogic.com</td>
            <td><a href="" class="dark_sky_blue">Soarlogic, Web, Mobile, Social Appli...</a></td>
        </tr>
        <tr>
            <td>towermt.com</td>
            <td><a href="" class="dark_sky_blue">Soarlogic Information Technology Pvt. Ltd.</a></td>
        </tr>
        <tr class="active">
            <td>yazar-gmbh.de</td>
            <td><a href="" class="dark_sky_blue">http://www.yazar-gmbh.de/</a></td>
        </tr>
        <tr>
            <td>garchinger-malerarebeiten.de</td>
            <td><a href="" class="dark_sky_blue">http://www.garchinger-malerarebeiten.de/</a></td>
        </tr>
        <tr class="active">
            <td>balmithai.com</td>
            <td><a href="" class="dark_sky_blue">Bhatt Sweets-Specialities</a>
            </td>
        </tr>
        <tr>
            <td>adsclick.at</td>
            <td><a href="" class="dark_sky_blue">Users</a></td>
        </tr>
    </table>
</div>

<!----------------------------- next part------------------------->

<div class="padding_left_side part_margin">
    <div>
        <b class="head_size"><strong><a style="color:#000000;" id="mobile">Mobile</a></strong></b>
        <ul class="list-inline pull-right">
            <li>
                Jump To:
            </li>
            <li>
                <a href="#blo"> Blogging </a>&nbsp;|
            </li>
            <li>
                <a href="#seo"> SEO </a>&nbsp; |
            </li>
            <li>
                <a href="#mobile" style="color:#000000;"> Mobile </a>&nbsp;|
            </li>
            <li>
                <a href="#social"> Social </a>
            </li>
        </ul>
    </div>
    <br/>

    <div class="part_margin">
        <p>
            Having a website which display well on all mobiles devices is becoming more and more important as 35% of
            American adults have smart phone and 87% of smartphone owners access internet on their mobile devices.
            When mobile optimize your site you want to take into account smaller screen sizes and slower bandwidths.
            This means using smaller images and font sizes, thinking about how much content is displayed on a single
            page.
        </p>
    </div>
</div>

<!-------------------------next------------------------------------------>

<div class="part_margin">
    <div class="col-md-8 media">
        <a class="pull-left" href="#">
            <span class="glyphicon glyphicon-remove dark_red"></span> <br/>
            <i class="fa fa-info-circle"></i>
        </a>

        <div class="well media-body well_color">
            <h4><strong>Do you have a mobile version of your website? <a href="" class="dark_sky_blue">NO</a></strong>
            </h4>

            <p>You're gonna need a mobile website if you want people to access your site on their smartphones. And
                since 43% of all phones are smartphones, and 87% of them use it to access for internet, it probably
                makes
                sense to get this in place sooner rather than later.</p>
            <hr/>
            <h4><strong> Learn More About How to Fix This </strong></h4>
            <%= link_to(image_tag("marketing_grader2.png"),:class =>"mrg_image pull-right") %>
            <!--<?php echo $this->Html->image("marketing_grader2.png", ['class' => 'mgr_image pull-right']); ?>-->

            <p>
                Download the <a href="" class="dark_sky_blue">free mobile Marketing Kit</a> to learn more about mobile
                optimization.</p>
        </div>
    </div>
    <div class="col-md-4 pull right">
        By the end of 2011, <a href="" class="dark_sky_blue">50% of Americans will own a smartphone</a>. Yep
    </div>
    <div class="clearfix"></div>
</div>

<!---------------------------next part--------------------------------->

<div class="part_margin">
    <div class="col-md-8 media">
        <a class="pull-left" href="#">
            <span class="glyphicon glyphicon-remove dark_red"></span> <br/>
            <i class="fa fa-info-circle"></i>
        </a>

        <div class="well media-body well_color ">
            <h4><strong>Do you have apple icons?<a href="" class="dark_sky_blue text"> NO</a></strong>
            </h4>

            <p>The iPhone and iPa both allow users to add a quick link to the desktop of their devices for easy
                access. Don't let a hard-to-see screen shot(which is the default option) rob you on excellent
                branding apportunity!</p>
            <hr/>
            <h4><strong> Learn More About How to Fix This </strong></h4>
            <%= link_to(image_tag("marketing_grader2.png"),:class =>"mgr_image pull-right") %>
            <!--<?php echo $this->Html->image("marketing_grader2.png", ['class' => 'mgr_image pull-right']); ?>-->
            <p>
                Download Beyondforth <a href="" class="dark_sky_blue">Mobile Marketing Kit</a> to get up to speed on
                mobile basics. </p>
        </div>
    </div>
    <div class="col-md-4 pull right">
        <a href="" class="dark_sky_blue">86% of C-level executives</a>. use a smartphone.
    </div>
    <div class="clearfix"></div>
</div>

<!---------------------------------next part-------------------------->

<div class="padding_left_side part_margin">
    <div>
        <b class="head_size"><strong><a style="color:#000000;" id="social">Social</a></strong></b>
        <ul class="list-inline pull-right">
            <li>
                Jump To:
            </li>
            <li>
                <a href="#blo"> Blogging </a>&nbsp;|
            </li>
            <li>
                <a href="#seo"> SEO </a>&nbsp;|
            </li>
            <li>
                <a href="#mobile"> Mobile </a>&nbsp;|
            </li>
            <li>
                <a href="#social" style="color:#000000;"> Social </a>
            </li>
        </ul>
    </div>
    <div class="part_margin">
        <p>
            <a href="" class="dark_sky_blue">57% of smart business,</a> say media is beneficial to their business, which
            is
            no wonder since being active on
            Twitter and Facebook has been shown to increase the number of inbound links , traffic and leads, As a result
            <a href="" class="dark_sky_blue">54% of companies</a> increased their investment in social media and blog in
            2011.
        </p>
    </div>
    <div class="clearfix"></div>
</div>

<!-----------------------------next part------------------------------>

<div class="part_margin">
    <div class="col-md-8 media">
        <a class="pull-left" href=""><span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i></a>

        <div class="media-body">
            <h4><strong>Are you on twitter ?
                <a href="" class="dark_sky_blue"> YES</a></strong></h4>

            <p>We found the account @soarlogic that look like it belongs to you. You're
                rocking on Twitter, which is great! Now make sure that you're sharing awesome content here, too. Want
                more folks to visit your blog? Blog post shared on Twitter get 117% more page view than those that not
                shared. That's a big number.</p>

            <div class="padding">
                @ <a href="" class="dark_sky_blue "><strong>saorlogic</strong></a>
            </div>
            <div class="padding">
                <button type="button" class="btn btn-gray btn-default btn-xs">Did we guess the wrong Twitter account ?</button>
            </div>
            <div class="panel panel-default">
                <table class=" table ">
                    <tr class="tab_head" >
                        <td>
                            Follower
                        </td>
                        <td>
                            Following
                        </td>
                        <td>
                            Updates
                        </td>
                    </tr>
                    <tr>
                        <td>
                            30
                        </td>
                        <td>
                            49
                        </td>
                        <td>
                            27
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 pull-right">
        <p class="padding3 ">Companies with over 1,000 Twitter followers get
            <a href="" class="dark_sky_blue"> 6X more traffic.</a></p>
    </div>
    <div class="clearfix"></div>
</div>

<!-----------------------Next Part---------------------------->

<div class="part_margin">
    <div class="col-md-8 media">
        <a href="" class="pull-left">
            <span class="glyphicon glyphicon-ok green"></span><br/>
            <i class="fa fa-info-circle"></i>
        </a>

        <div class="media-body">
            <h4><strong>Your homepage has been twitted
                <a href="" class="dark_sky_blue">4</a> times.</strong>
            </h4>

            <p>According to Twitter, your homepage witted 4 times recently
                (usually in the last few days). To increase this, make sure you are including social sharing buttons
                right on your homepage and creating compelling content.</p>
        </div>
    </div>
    <div class="col-md-4 pull-right">
        <p><a href="" class="">79% of US twitter users</a> are more likely to recommend the brands that they follow.</p>
    </div>
    <div class="clearfix"></div>
</div>

<!--------------------------------NExt part=======================-------------------->

<div class="part_margin">
    <div class=" media col-md-8">
        <a class="pull-left" href="#">
            <span class="glyphicon glyphicon-remove dark_red"></span> <br/>
            <i class="fa fa-info-circle"></i>
        </a>

        <div class="well media-body well_color ">
            <h4><strong>Your average<a href="" class="dark_sky_blue text">38 days,13 hour </a>between tweets.</strong>
            </h4>

            <p>It look likes you're in a bit of Twitter slump. Tweet mre regularily if you want to hamess all the power
                of
                Twitter. Share your blog pots, relevent news articles, and intresting stuff from other sites.</p>
            <hr/>
            <h4><strong> Learn More About How to Fix This </strong></h4>
            <%= link_to(image_tag("marketing_grader2.png"),:class =>"mrg_image pull-right") %>
            <!--<?php echo $this->Html->image("marketing_grader2.png", ['class' => 'mgr_image pull-right']); ?>-->

            <p>
                Download the <a href="" class="dark_sky_blue">Twitter for Business Beginners Guide</a> to learn more
                about
                maximizing the time you spend on Twitter. </p>
        </div>
    </div>
    <div class="col-md-4 pull right">More than
        <a href="" class="dark_sky_blue">1/2 of Twitter</a> users follow companies, brands, or products on social
        networks.
    </div>
    <div class="clearfix"></div>
</div>

<!-----------------------------Next Part------------------------------------->

<div class="part_margin">
    <div class="col-md-8 media ">
        <a class="pull-left" href="#">
            <span class="glyphicon glyphicon-ok green"></span> <br/>
            <i class="fa fa-info-circle"></i>
        </a>

        <div class="media-body">
            <h4><strong>Your facebook fan page has <a href="" class="dark_sky_blue"> 131</a> fans.</strong></h4>

            <p> You've got a blog, which mean you know it's the best way to reach your
                target audience and grab them with the content they crave. In fact, it might already be the
                only way to reach them.</p>

            <div class="padding">
                <a href="" class="dark_sky_blue"><strong>http://facebook.com/soarlogic</strong></a>
            </div>
            <div class="padding">
                <button type="button" class="btn btn-gray btn-default btn-xs">Did we guess the wrong Facebook page?</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p>Did you know that companies that <a class="dark_sky_blue">93% of US adults internet user are on facebook
        </a>? Unless you only sell to that laggy little 7% of all internet users, think again!</p>
    </div>
    <div class="clearfix"></div>
</div>

<!----------------------Next part---------------------------->
<div class="part_margin" align="center">
    <%= link_to(image_tag("marketing_grader5.png")) %>
    <!--<?php echo $this->Html->image("marketing_grader5.png"); ?>-->
</div>

<!----------------------Next part middle funnel--------------------->

<div class="part_margin">
    <div class="media">
        <a class="pull-left" href="#">
            <%= link_to(image_tag("marketing_grader2.png"),:class =>"id_image img-circle pull-left") %>
            <!--<?php echo $this->Html->image("funnel_small.png", ['class' => 'id_image img-circle pull-left']); ?>-->
        </a>

        <div class="media-body">
            <h4><strong>Middle of the Funnel</strong></h4>
            <%= link_to(image_tag("marketing_grader1.png"),:class =>"pull-right") %>
            <!--<?php echo $this->Html->image("marketing_grader1.png", ['class' => 'pull-right']); ?>-->

            <div>
                <p>The middle of the funnel is all about converting the traffic you get into prospects and leads and
                    then
                    nurturing your leads and prospects inorder to make it more likely that they will become customers.
                    You do this by using landing pages, blogs conversion forms email marketing and social media.
                <h4><strong>3 Action Items</strong></h4>
                <ol class="dark_sky_blue">
                    <li>
                        Share landing pages with forms on Twitter.
                    </li>
                    <br/>
                    <li>
                        Reply to individuals on Twitter to be more conversational.
                    </li>
                    <br/>
                    <li>
                        Get more mentions on Twitter by being more conversational.
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!----------------------------Next part starts---------------------->

<div class="padding_left_side part_margin">
    <b class="head_size "><strong><a style="color:#000000;" id="gen">Generals</a></strong></b>
    <ul class="list-inline pull-right">
        <li>
            Jump To:
        </li>
        <li>
            <a href="#gen" style="color:#000000;"> Generals </a>&nbsp;|
        </li>
        <li>
            <a href="#blo2"> Blogging </a>&nbsp;|
        </li>
        <li>
            <a href="#social"> Social </a>
        </li>
    </ul>
    <div class="part_margin">
        <p>
            The most generals tools in the middle of your funnel have to collecting leads and nurturing those leads into
            customers. Making it easy for customers to give you their information through forms on your website and
            understanding the tools you are using to nurture those leads are the begining of an optimize middle of
            funnel.
        </p>
    </div>
</div>

<!----------------------------Next part-------------->

<div class="part_margin">
    <div class="col-md-8 media">
        <a class="pull-left" href="#">
            <span class="glyphicon glyphicon-ok green"></span> <br/>
            <i class="fa fa-info-circle"></i>
        </a>

        <div class="media-body">
            <h4><strong>Are you using landing pages with forms to convert
                your visitors into leads?<a href="" class="dark_sky_blue">Yes</a></strong></h4>

            <p>It looks like you alredy know that landing pages with conversion forms
                are great way to get leads from your website because we found at least on of your site. Make sure you
                are
                collecting contact information from your visitors so that you can follow up with them later and be in
                touch. Without landing pages you can't convert your website traffic into customers.</p>
        </div>
    </div>
    <div class="col-md-4">
        <p>Business with 31 to 40 landing pages get <a href="" class="dark_sky_blue">7X more</a> leads than those with
            only 1 to 5</p>
    </div>
    <div class="clearfix"></div>
</div>

<!---------------------Next part-------------------->

<div class="part_margin">
    <div class="col-md-8 media ">
        <a class="pull-left" href="#">
            <span class="glyphicon glyphicon-ok green"></span> <br/>
            <i class="fa fa-info-circle"></i>
        </a>

        <div class="media-body">
            <h4><strong>Are you using any marketing automation software ?
                <a href="" class="dark_sky_blue">Beyondforth</a></strong></h4>

            <p> It looks like you are using Beyondforth to automate your marketing
                efforts. make sure that you that you are not using it to force leads through your old school seles
                process
                by beating them into submissoin with endless programmed emails. automation can be an effective tool, but
                you
                want to engage potential customers on their term in order to convert the most leads into happy
                customers.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <p>You can automate your marketing efforts but beware,<a href="" class="dark_sky_blue">your email database
            at rate of 25% per year.</a></p>
    </div>
    <div class="clearfix"></div>
</div>

<!----------------Next part---------------->

<div class="padding_left_side part_margin">
    <b class="head_size ">
        <strong><a style="color:#000000;" id="blo2">Blogging</a></strong>
        </b>
    <ul class="list-inline pull-right">
        <li>
            Jump To:
        </li>
        <li>
            <a href="#gen"> Generals </a>&nbsp;|
        </li>
        <li>
            <a href="#blo2" style="color:black"> Blogging </a>&nbsp;|
        </li>
        <li>
            <a href="#social"> Social </a>
        </li>
    </ul>
    <div class="part_margin">
        <p>
            Blogging is a great way to get more traffic and leads but it also a great way to converts leads into
            customers. having valuable and relevents call to action, allowing readers to subscribe and encouraging
            them to follow you in social media are great way to leverage your blogand get more.
        </p>
    </div>
</div>

<!---------------------Next Part--------------------->

<div class="part_margin">
    <div class="col-md-8 ">
        <div class="media">
            <a class="pull-left" href="#">
                <span class="glyphicon glyphicon-ok green"></span> <br/>
                <i class="fa fa-info-circle"></i>
            </a>

            <div class="media-body">
                <h4><strong>5 of your last 5 blog post included links to a
                    landing page with form.</strong></h4>

                <p> Rock on! You're already linking your blog post to landing pages so that
                    you can magically transform your visitors into leads. Be sure to test your calls to action to keep
                    those conversion rate climbing up. up up!</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p>Business with more than 40 landing page get <a href="" class="dark_sky_blue">12X more leads</a>
            than those with only a few landing pages.</p>
    </div>
    <div class="clearfix"></div>
</div>

<!------------------------Next page------------>

<div class="part_margin">
    <div class="col-md-8 ">
        <div class="media">
            <a class="pull-left" href="#">
                <span class="glyphicon glyphicon-ok green"></span> <br/>
                <i class="fa fa-info-circle"></i>
            </a>

            <div class="media-body">
                <h4><strong>Your blog has a handy email subscription link.</strong></h4>

                <p> Well done! you're making it easy for people to follow your blog and
                    keep in touch over the long haul by allowing them to subscribe to your blog via email.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p><a href="" class="">36 % of daily internet users</a>. read 5 to 10 blog posts per day.</p>
    </div>
    <div class="clearfix"></div>
</div>

<!-----------------------Next page---------------------->

<div class="part_margin">
    <div class="col-md-8 ">
        <div class="media">
            <a class="pull-left" href="#">
                <span class="glyphicon glyphicon-ok green"></span> <br/>
                <i class="fa fa-info-circle"></i>
            </a>

            <div class="media-body">
                <h4><strong>Yay! Your blog has social subscription
                    options.</strong></h4>

                <p> It look like you have figure out of benefits of promoting
                    your blog. Make you're also promoting your blog via your social media accounts to get most out all
                    the content you are creating. </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p><a href="" class="">52 % of 55-60 year old internet users</a>have joined a social network.</p>
    </div>
    <div class="clearfix"></div>
</div>

<!-------------------------Next part----------------->
<div class="part_margin">
    <div class="col-md-8">
        <div class="media">
            <a class="pull-left" href="#">
                <span class="glyphicon glyphicon-remove dark_red"></span> <br/>
                <i class="fa fa-info-circle"></i>
            </a>

            <div class="media-body well well_color">
                <h4><strong><a href="" class="dark_sky_blue text">0</a> of your last tweets were replies to somebody
                    else
                    .</strong></h4>

                <p>It look likes you're in a bit of Twitter slump. Tweet mre regularly if you want to hamess all the
                    power
                    of
                    Twitter. Share your blog pots, relevant news articles, and interesting stuff from other sites.</p>
                <hr/>
                <h4><strong> Learn More About How to Fix This </strong></h4>
                <%= link_to(image_tag("marketing_grader2.png"),:class =>"mgr_image pull-right") %>
                <!--<?php echo $this->Html->image("marketing_grader2.png",  ['class' => 'mgr_image pull-right']); ?>-->
                <p>
                    Download the <a href="" class="dark_sky_blue">Twitter for Business Beginners Guide</a> to learn more
                    about
                    maximizing the time you spend on Twitter. </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 pull right">
        Companies that use Twitter average 2x more leads per month than those that do not.
    </div>
    <div class="clearfix"></div>
</div>
<!---------------Next part-------------------------------->
<div class="part_margin">
    <div class="col-md-8">
        <div class="media">
            <a class="pull-left" href="#">
                <span class="glyphicon glyphicon-remove dark_red"></span> <br/>
                <i class="fa fa-info-circle"></i>
            </a>

            <div class="media-body well well_color">
                <h4><strong><a href="" class="dark_sky_blue text">@soarlogic </a>was mentioned
                    <a href="" class="dark_sky_blue">0</a> times by other people
                    in last 24 hours on Twitter.</strong></h4>

                <p>It look likes you're in a bit of Twitter slump. Tweet mre regularly if you want to hamess all the
                    power of Twitter. Share your blog pots, relevant news articles, and interesting stuff from other
                    sites.</p>
                <hr/>
                <h4><strong> Learn More About How to Fix This </strong></h4>
                <%= link_to(image_tag("marketing_grader2.png"),:class =>"mgr_image pull-right") %>
                <!--<?php echo $this->Html->image("marketing_grader2.png",  ['class' => 'mgr_image pull-right']); ?>-->

                <p>
                    Download the <a href="" class="dark_sky_blue">Twitter for Business Beginners Guide</a> to learn
                    more about maximizing the time you spend on Twitter. </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 pull right">
        Companies with 1000+ Twitter follower get <a href="" class="dark_sky_blue">6X</a> more traffic on their
        website than those with fewer Twitter followers.
    </div>
    <div class="clearfix"></div>
</div>

<!----------------------Next part----------------------------->

<div class="part_margin">
    <div class="col-md-8">
        <div class="media">
            <a class="pull-left" href="#">
                <span class="glyphicon glyphicon-remove dark_red"></span> <br/>
                <i class="fa fa-info-circle"></i>
            </a>

            <div class="media-body well well_color">
                <h4><strong><a href="" class="dark_sky_blue text">0</a> of your last 10 tweets links to a
                    landing page.</strong></h4>

                <p>It look likes you're in a bit of Twitter slump. Tweet mre regularly if you want to hamess all the
                    power
                    of
                    Twitter. Share your blog pots, relevant news articles, and interesting stuff from other sites.</p>
                <hr/>
                <h4><strong> Learn More About How to Fix This </strong></h4>
                <!--<?php echo $this->Html->image("marketing_grader2.png",  ['class' => 'mgr_image pull-right']); ?>-->
                <%= link_to(image_tag("marketing_grader2.png"),:class =>"mgr_image pull-right") %>

                <p>
                    Download the <a href="" class="dark_sky_blue">Twitter for Business Beginners Guide</a> to learn more
                    about
                    maximizing the time you spend on Twitter. </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 pull right">
        <a href="" class="dark_sky_blue">39% of B2B companies</a> using Twitter have acquired new customers from it.
    </div>
    <div class="clearfix"></div>
</div>

<!----------------------------------Next part------------------------------------------------>
<div class="part_margin" align="center">
    <!--<?php echo $this->Html->image("marketing_grader5.png"); ?>-->
    <%= link_to(image_tag("marketing_grader5.png")) %>

</div>
<!-------------------------Next Part------------------------------------->
<div class="part_margin">
    <div class="media col-md-9">
        <a href="" class="pull-left">
            <%= link_to(image_tag("tingle_arrow.png"),:class =>"id_image img-cicle pull-left") %>
            <!--<?php echo $this->Html->image("tingle_arrow.png", ['class' => 'id_image img-circle-->
            <!--pull-left']); ?>-->
        </a>

        <div class="media-body">
            <h4><strong>Analytics</strong></h4>

            <p>Measuring your successes (and failures) is the only way to know what marketing activities are
                working for you. If you can't measure how many visits,leads and customers your different campaigns
                generate, you need to reevaluate haw you're measuring your activities.</p>
        </div>
    </div>
    <div class="col-md-3">
        <%= link_to(image_tag("marketing_grader4.png"),:class =>"pull-right") %>
        <!--<?php echo $this->Html->image("marketing_grader4.png", ['class' => 'pull-right']); ?>-->
    </div>
</div>
<div class="clearfix"></div>

<!----------------------Next part-------------------------->

<div class="part_margin  padding_left_side media">
    <a class="pull-left" href="#">
        <span class="glyphicon glyphicon-remove dark_red"></span><br/>
        <i class="fa fa-info-circle"></i>
    </a>

    <div class="media-body">
        <h4><strong>It's look like you're using <a href="" class="dark_sky_blue">
            Google Analytics and Facebook domain insight</a> to measure your website.</strong></h4>

        <p>
            Looks like you've got a bead on your analytics with Google Analytics and Facebook Domain insight. Nice Job-
            measuring your results is the first step to making truly data-driven decisions. And oh my gosh do I love
            data-driven decisions.
        </p>
    </div>
</div>
<!--------------------------------next----------------------->
