
            <!-- menu -->
            <div id="MainMenu" style="margin-top:11px; ">
                <div class="list-group panel">
                    <%= link_to 'My Account', users_profile_path , :data => {parent:"MainMenu"}, :class=> "list-group-item list-group-item-success"%>
                    <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">My Setting  <i class="fa fa-caret-down"></i></a>

                    <div class="collapse" id="demo4">
                        <%= link_to 'Change Password' , users_change_password_path, :class=> "list-group-item"%>
                        <!--<a href="" class="list-group-item">Subitem 2</a>-->
                    </div>
                    </a>
                    <%= link_to 'Add My Site' ,'#', :data => {parent:"MainMenu",toggle:"modal",target:"#addWebsite"},:class=> "list-group-item list-group-item-success"%>
                    <%= link_to 'Logout' , users_logout_path, :data => {parent:"MainMenu"},:class=> "list-group-item list-group-item-success"%>
                </div>
            </div>



            <!--modal for adding website-->
            <div id="addWebsite" class="modal fade-in">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add Website</h4>
                        </div>
                        <div class="modal-body">
                            <%= simple_form_for(User,remote: true,:html => {novalidate: false}) do |f| %>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="display: inline-block">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <%= f.input :website_url, required: true, placeholder: "Enter you website URL...", label: false%>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <%= f.button :submit, id: "submitweburl", value: "Publish" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

