<h2>Change Password</h2>
<div class="container">
    <div class="col-xs-8 col-md-5">
        <%= bootstrap_form_for :user, url:users_update_password_path(:id=>@user) do |f| %>
            <div>
                <%= f.password_field :current_password ,placeholder: "Current password"%>
            </div>
            <div class="field">
                <%= f.password_field :password%>
            </div>
            <p>
                <%= f.password_field :password_confirmation,placeholder: "Confirm new password",class: "modify-form-control" %>
            </p>

            <p>
                <%= f.submit  %>
            </p>
        <% end %>

    </div>
</div>

