<!--<h1>Users#forgot_password</h1>-->
<!--<p>Find me in app/views/users/forgot_password.html.erb</p>-->
<div class="wrapper">
    <div class="form-signin well">
        <%= bootstrap_form_for @user, url:users_forgot_password_send_email_path  do |f| %>
            <%= f.email_field :email %>
            <%= f.submit 'Send Email',:class=> "btn btn-primary" %>
        <% end %>
        <div style="height:5px;"></div>
        <div>
            <%= link_to 'login',users_login_path, class:"btn btn-info" %>
        </div>
        <%= link_to 'Create an account',users_register_path,class:"text-left new-account btn btn-info" %>
    </div>
</div>



