<div class="container">
    <div class="form-signin well">
        <h3 style="padding-bottom:10px; text-decoration:underline;">Log or Sign in</h3>
        <%= bootstrap_form_for @user, url:sessions_create_path  do |f| %>
            <%= f.email_field :email %>
            <%= f.password_field :password,:placeholder=>"Password" %>
            <%= f.submit "Sign in",class:"btn btn-primary" %>
                <%= link_to users_fb_login_path do%>
                        <i class="fa fa-facebook btn btn-primary">&nbsp;Sign in with Facebook</i>
                <% end %>

            <div style="height:5px;"></div>
            <%= link_to users_tw_login_path do%>
                <i class=" fa fa-twitter btn btn-primary">&nbsp;Sign in with Twitter</i>
            <% end %>
            <a href="https://twitter.com/bistanil" class="twitter-follow-button" data-show-count="false">Follow @bistanil</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <% end %>

            <div style="height:5px;"></div>
            <%= link_to users_linkedin_login_path do%>
            <i class=" fa fa-linkedin btn btn-primary">&nbsp;Sign in with Linkedin</i>
            <% end %>

            <div style="height:5px;"></div>
            <%= link_to users_google_login_path do%>
            <i class=" fa fa-google-plus btn btn-primary">&nbsp;Sign in with Google</i>
            <% end %>

            <div style="height:5px;"></div>
            <%= link_to users_git_login_path do%>
            <i class=" fa fa-github btn btn-primary">&nbsp;Sign in with Github</i>
            <% end %>

            <div style="height:5px;"></div>
            <%= link_to users_pinterest_login_path do%>
            <i class=" fa fa-pinterest btn btn-primary">&nbsp;Sign in with Pinterest</i>
            <% end %>

            <%= link_to 'Create an account',users_register_path,class:"text-left new-account btn btn-info" %>
            <%= link_to "forgotten password?", users_forgot_password_path ,class:"text-left new-account btn btn-info"%>
            <div style="height:5px;"></div>
            <%= check_box_tag :remember_me, 1, params[:remember_me] %>
            <%= label_tag :remember_me %>
    </div>

</div>


