<div class="container" style="padding-bottom: 8px;">
    <div class="form-signin well">
        <h3 style="padding-bottom:10px; text-decoration:underline;">Log or Sign in</h3>
        <%= bootstrap_form_for(@user,label_errors: true, url: sessions_create_path)  do |f| %>
            <%= f.email_field :email, required: true%>
            <%= f.password_field :password,:placeholder=>"Password", required: true %>
            <%= f.submit "Sign in",class:"btn btn-primary" %>
        <% end %>
        <div style="height:5px;"></div>
        <div class="social" style="line-height: 5px;">
            <div style="padding-top: 5px;padding-bottom: 5px;">
                <h5>Sign in with these social accounts: </h5>
            </div>
            <div style="padding-top:5px; padding-bottom: 5px;">
                <span style="padding: 5px;">
                    <%= link_to users_fb_login_path do%>
                        <i class="fa fa-2x fa-facebook-square" id="fb_ico" style="font-size: 2em !important;color: #3B5998;"></i>
                    <%end%>
                </span>
                <span style="padding: 5px;">
                    <%= link_to users_google_login_path do%>
                        <i class=" fa fa-5x fa-google-plus-square" id="g_ico" style="font-size: 2em !important;color: #BD3518;"></i>
                    <% end %>
                </span>
            </div>
        </div>
        <div style="height:5px;"></div>
        <%= link_to 'Create an account',users_register_path,class:"text-left new-account btn btn-info" %>
        <%= link_to "forgotten password?", users_forgot_password_path ,class:"text-left new-account btn btn-info"%>
        <div style="height:5px;"></div>
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag :remember_me %>
    </div>
</div>
