<div class="col-lg-offset-1" >
    <div class="col-md-3">
        <div style="margin: 0 12px;padding: 4px 0;position: relative;">
            <div class="" style="padding-top: 3px;">
                <%= image_tag(session[:user_image], :alt => "user image",:class=>"img-circle id_img") %>
            </div>
            <div style="padding-top:19px;">
                <%= link_to 'Change Picture', "#", data: {toggle: "modal", target: "#modalImage"},  class: 'btn btn-primary btn-xs'%>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div style="margin: 0 12px;padding: 4px 0;position: relative;">
            <div>
                <div class="clearfix" spacing="medium" direction="left">
                    <div class="" style="padding-top: 3px;">
                        <div style="word-wrap: break-word;">
                            <span>Name:</span>
                            <span><%= @user.name %></span>
                        </div>
                    </div>
                    <div class="" style="padding-top: 3px;">
                        <div style="word-wrap: break-word;">
                            <span>Email: </span>
                            <span><%= @user.email %></span>
                        </div>
                    </div>
                </div>
                <div class="" style="padding-top: 10px;">
                    <div style="word-wrap: break-word;">
                        <%= link_to "Edit", users_edit_path(:id=>session[:user_id]), class: 'btn btn-primary btn-xs'%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalImage" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Upload Image</h4>
        </div>
        <div class="modal-body">
            <p style="padding-left:40px; ">
            <%= bootstrap_form_for :user,url:users_upload_image_path(:id=>@user),html: { multipart: true } do |f| %>
                <div class="field">
                    <%= f.file_field :image %>
                </div>
                <div class="actions">
                    <%= f.submit 'Upload' %>
                </div>
            <% end %>
            </p>
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-default"  data-dismiss="modal">Upload</button>-->
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

<script>
    <!--
    $('#modalSend').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
    -->
    $('#pdffile').change(function(){
        $('#subfile').val($(this).val());
    });
</script>




