<div class="container">
    <%= bootstrap_form_for(:seo, inline_errors: true,url:seo_index_path,layout: :horizontal) do |f| %>
            <%= f.text_field :site_uri  , control_col: "col-sm-8" , placeholder: "Put web site Url"%>
            <%= f.errors_on :site_uri  , control_col: "col-sm-6" %>
        <%= f.form_group do %>
            <%= f.submit "Submit", class: "btn btn-success"%>
        <% end %>
    <% end %>
</div>

<!-- The Team -->
<div class="home-doctors  clearfix">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <div class="slogan-section animated fadeInUp clearfix ae-animation-fadeInUp">
                    <h2>Meet our <span>Dental Specialists</span></h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>                    </div>
            </div>
        </div>



        <div class="row">



            <!-- entry1 -->
            <div class="col-lg-3 col-md-3 col-sm-6  text-center doc-item">
                <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">

                    <ul class="list-inline social-lists animate">
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>

                    <figure>
                        <img width="670" height="500" src="http://somesweetphoto.smugmug.com/photos/i-VHdG3sd/0/O/i-VHdG3sd.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="doctor-2">
                    </figure>

                    <div class="text-content">
                        <h5>Dr. Jeremy</h5>
                        <!-- <div class="for-border"></div> -->
                        <h5><small>Dentist Title</small></h5>
                    </div>
                </div>
            </div>





            <!-- entry2 -->
            <div class="col-lg-3 col-md-3 col-sm-6  text-center doc-item">
                <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">

                    <ul class="list-inline social-lists animate">
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>

                    <figure>
                        <img width="670" height="500" src="http://somesweetphoto.smugmug.com/photos/i-VHdG3sd/0/O/i-VHdG3sd.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="doctor-2">
                    </figure>

                    <div class="text-content">
                        <h5>Dr. Jeremy</h5>
                        <!-- <div class="for-border"></div> -->
                        <h5><small>Dentist Title</small></h5>
                    </div>
                </div>
            </div>




            <!-- entry3 -->
            <div class="col-lg-3 col-md-3 col-sm-6  text-center doc-item">
                <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">

                    <ul class="list-inline social-lists animate">
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>

                    <figure>
                        <img width="670" height="500" src="http://somesweetphoto.smugmug.com/photos/i-VHdG3sd/0/O/i-VHdG3sd.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="doctor-2">
                    </figure>

                    <div class="text-content">
                        <h5>Dr. Jeremy</h5>
                        <!-- <div class="for-border"></div> -->
                        <h5><small>Dentist Title</small></h5>
                    </div>
                </div>
            </div>





            <!-- entry4 -->
            <div class="col-lg-3 col-md-3 col-sm-6  text-center doc-item">
                <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">

                    <ul class="list-inline social-lists animate">
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>

                    <figure>
                        <img width="670" height="500" src="http://somesweetphoto.smugmug.com/photos/i-VHdG3sd/0/O/i-VHdG3sd.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image" alt="doctor-2">
                    </figure>

                    <div class="text-content">
                        <h5>Dr. Jeremy</h5>
                        <!-- <div class="for-border"></div> -->
                        <h5><small>Dentist Title</small></h5>
                    </div>
                </div>
            </div>
            <!-- // -->




            <div class="visible-sm clearfix margin-gap"></div>
        </div>

    </div>

</div>
<!-- //The Team -->
<div style="height: 10px;"></div>
<nav class="row nav navbar-default navbar-inverse">

    <div class=" view_page">

        <div class="in_text">
            <!-- URI text div-->

            <h1><strong>Create marketing<br> people love.</strong></h1>

            <!-- <div class="clear"></div>
            -->

            <p><strong> Use Beyondfourth Inbound marketing software to<br>
                consistently generate more visits leads, and<br> customers.</strong></p>


            <button type="button" class="btn btn-primary button_color">
                Request a demo trail
                <input type="checkbox">
            </button>


            <button type="button" class="btn btn-primary button_color1">
                View all Features
                <input type="checkbox">
            </button>

        </div>
    </div>
</nav>
<div class="text-center padding-heading">
    <h3><strong>Why over 9,000 professional marketers & team trust Beyondfourth</strong></h3>
</div>


<div>

    <div class="col-md-4">
        <div class="thumbnail">

            <div class="icon_circle">
                <%= link_to(image_tag("circle1.png", :alt => "home image"),:class =>"icon") %>
            </div>

            <div class="caption">

                <h3>Try our Marketing Tool</h3>

                <p> analyze inbound links to your site,discover how your content is shared through social media
                    ,and more with our free tools</br>
                </p>


                <div align="center">


                    <button type="button" class="btn btn-success button_color">Explore our Tools</button>
                </div>


            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">

            <div class="icon_circle">
                <a href="#">
                    <%= link_to(image_tag("circle1.png", :alt => "home image"),:class =>"icon") %>

                    <!--<?php echo $this->Html->image("/img/circle1.png", array("class" => "icon")); ?>-->
                </a>
            </div>

            <div class="caption">
                <h3>Learn Inbound Marketing</h3>

                <p> we create guides,video and more to teach you inbound marketingand
                    keep you update on industry development
                </p>

                <div align="center">
                    <button type="button" class="btn btn-success button_color">Explore our Resources</button>
                </div>


            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">

            <div class="icon_circle">
                <a href="#">
                    <%= link_to(image_tag("circle1.png", :alt => "home image"),:class =>"icon") %>
                    <!--<?php echo $this->Html->image("/img/circle1.png", array("class" => "icon")); ?>-->
                </a>
            </div>
            <div class="caption">
                <h3>Join the Conversation</h3>

                <p> join the 300,000+member who contribute to our vibrant
                    community and learn from industry expert in our Q&A form
                </p>

                <div align="center">
                    <button type="button" class="btn btn-success button_color">Explore our community</button>
                </div>


            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>



<div class="heading">
    <div>

        <h2 align="center"><strong>What Possible With Hubspot's All In One Marketing Software?</strong></h2>
    </div>
</div>




<!--<div class="label_content_outer5 bg_repeat">-->

<div class="label_inner6">
    <div class="col-md-4">
        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p1.png", :alt => "home image"),:class =>"logo_image_inner") %>
            </a>
            <!--<?php echo $this->Html->image("p1.png", array('class' => 'logo_image_inner')); ?> -->
            <div class="media-body">
                <h4>
                    <%= link_to('Blogging' ) %>
                    <!--<?php echo $this->Html->link('Blogging', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p>Create blog content quickly while<br> getting SEO tips and best<br> practice pointers as you type.</p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p2.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p2.png", array('class' => 'logo_image_inner')); ?>  -->
            </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Calls To Action' ) %>
                    <!--<?php echo $this->Html->link('Calls To Action', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p>Increase conversion rate with<br> calls to action personlized <br>according to your visitor's<br>
                    action.</p>
            </div>
        </div>

        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p3.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p3.png", array('class' => 'logo_image_inner')); ?>-->
            </a>
            <div class="main boday">

                <h4>
                    <%= link_to('Email' ) %>
                    <!--<?php echo $this->Html->link('Email', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p>Send Personlized, segmented<br> email based on any information<br> in your contact database.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p4.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p4.png", array('class' => 'logo_image_inner')); ?> -->
            </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Search Engine Optimization' ) %>
                    <!--<?php echo $this->Html->link('Search Engine Optimization', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p> Improve your rank in search<br> engines by finding and tracking<br> your most effective keyword.</p>
            </div>
        </div>

        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p5.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p5.png", array('class' => 'logo_image_inner')); ?>-->
            </a>

            <div class="media-body">
                <h4>
                    <%= link_to('Landing Pages' ) %>
                    <!--<?php echo $this->Html->link('Landing Pages', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                    </h4>
                <p>Create landing page that are<br> beautiful on any device and<br> personalized foreach visitor.</p>
            </div>
        </div>


        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p6.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p6.png", array('class' => 'logo_image_inner')); ?>-->
            </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Marketing Automation' ) %>
                    <!--<?php echo $this->Html->link('Marketing Automation', '/pages/home', array('class' => '', 'target' => '_blank')); ?></strong>-->
                </h4>

                <p> Nurture leads via email your<br> website,or any other channel you<br> choose.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="media">
            <a class="pull-left">
                <%= link_to(image_tag("p7.png", :alt => "home image"),:class =>"logo_image_inner") %>
                <!--<?php echo $this->Html->image("p7.png", array('class' => 'logo_image_inner')); ?>-->
            </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Social Media' ) %>
                    <!--<?php echo $this->Html->link('Social Media', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p>publish content to your social<br> account,then nurture leads<br> based on their social<br> engagement.</p>
            </div>
        </div>


        <div class="media">
            <%= link_to(image_tag("p8.png", :alt => "home image",),:class =>'logo_image_inner') %>
            <div class="media-body">
                <h4>
                    <%= link_to('Lead Management' ) %>
                </h4>

                <p> Track lead with a complete<br> timeline-view on their intractions<br> with your company.</p>
            </div>
        </div>


        <div class="media">
            <a class="pull-left">
            <%= link_to(image_tag("p9.png", :alt => "home image",)) %>
                </a>
            <div class="media-body">
                <h4>
                    <%= link_to('Closed Loop Analytics' ) %>
                    <!--<?php echo $this->Html->link('Closed Loop Analytics', '/pages/home', array('class' => '', 'target' => '_blank')); ?>-->
                </h4>

                <p> Analyze your web traffic and see <br>which source are generating the<br> most lead.</p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div style="height:15px"></div>


