
<div class="container">
    <h2 class="col-md-offset-1">Twitter</h2>
    <div class="col-lg-4 well" >
        <%= render partial: 'twitter_menu' %>
    </div>

    <div  class="col-lg-8">
        <div>
            <%= bootstrap_form_for :social_media, url:social_media_post_on_twitter_wall_path do |f| %>
                <div>
                    <%= f.text_area :message %>
                </div>

                <div>
                    <%= f.submit  "Post On wall", class:"btn btn-primary "%>
                </div>
            <% end %>
        </div>
        <div style="padding-top:10px; ">
        </div>
        <div id="twtr_home">
            <%= render partial: "refresh_twtr_home"%>
        </div>
    </div>
</div>
<script>
    !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
        }
    }
    (document,"script","twitter-wjs");
</script>