
<div class="container">
    <h2 class="col-md-offset-1">Twitter</h2>
    <div class="col-lg-4 well" >
        <%= render partial: 'twitter_menu' %>
    </div>

    <div  class="col-lg-8">
        <div>
            <%= bootstrap_form_for :social_media, url:social_media_post_on_twitter_wall_path do |f| %>
                <div>
                    <%= f.text_area :message %>
                </div>

                <div>
                    <%= f.submit  "Post On wall", class:"btn btn-primary "%>
                </div>
            <% end %>
        </div>
        <div style="padding-top:10px; ">
        </div>
        <div id="fb_data">
            <ul class="list-group">
            <% for twitts_obj in @twitts %>
                <div style="padding-bottom: 4px;">
                    <li class="list-group-item"><%=  twitts_obj.full_text%></li>
                </div>
            <% end %>
                </ul>
        </div>


    </div>
</div>