
<div class="container">
    <h2 class="col-md-offset-1">Twitter</h2>
    <div class="col-lg-4 well" >
        <%= render partial: 'twitter_menu' %>
    </div>

    <div  class="col-lg-8">
        <div>
            <%= bootstrap_form_for :social_media, url:social_media_post_on_twitter_wall_path do |f| %>
                <div>
                    <%= f.text_area :message %>
                </div>

                <div>
                    <%= f.submit  "Post On wall", class:"btn btn-primary "%>
                </div>
            <% end %>
        </div>
        <div style="padding-top:10px; ">
        </div>
                    <div id="fb_data">
                        <ul class="list-group">
                            <% @twitts.each do |tweet| %>
                                <style type="text/css">
                                    #item<%=tweet.id%>:hover{
                                        background-color: #f6f7f9;
                                    }
                                </style>
                                <li class="list-group-item" style="padding-top: 10px; padding-bottom: 0px;padding-left: 0px;padding-right: 0px;cursor: pointer;" id='item<%=tweet.id%>'>
                                    <div style="padding-left: 12px;padding-bottom: 10px;padding-right: 15px;padding-top: 4px;">
                                        <div style="float:left;">
                                            <%=image_tag(tweet.user.profile_image_url)%>
                                        </div>
                                        <div style="padding-left: 12px;margin-left: 60px;">
                                            <div style="word-wrap: break-word;">
                            <span>
                                <%=tweet.user.name%>
                            </span>
                            <span>
                                <%="@#{tweet.user.screen_name}"%>
                            </span>
                                                <span role="presentation" aria-hidden="true">.</span>
                            <span>
                                <%=tweet.created_at.to_datetime.strftime("%a %b %d %G at %I:%M %p")%>
                            </span>
                                            </div>
                                        </div>
                                        <div style="padding-left: 12px;margin-left: 60px;">
                                            <%=  tweet.text%>
                                        </div>
                                    </div>
                                    <div style="padding-left: 12px;padding-bottom: 10px;padding-right: 15px;padding-top: 4px;">
                                        <%=image_tag(tweet.media[0]["media_url"], :size => "350x300") if(tweet.media.present?)%>
                                    </div>
                                </li>
                            <% end %>
                        </ul>
                    </div>


    </div>
</div>