

<div class="well" style="display:inline-block;">
        <h4 style="text-decoration: underline;">SEO</h4>
        <ul class="list-unstyled pramotion-links">
            <li>
                <%= link_to 'W3Validation', seo_get_seo_w3cvalidators_path %>
            </li>

            <li>
                <%= link_to 'Page Rank', seo_get_post_page_rank_path %>
            </li>

            <li>
                <%= link_to 'Page Linking', seo_get_page_links_path %>
            </li>

            <li>
                <%= link_to 'On Page, Off Page', seo_get_on_offpage_path %>
            </li>


            <li><a href="">Keywords Analysis</a>
            <ul class="">
                <li>
                    <%= link_to 'Page Keywords', seo_get_page_keywords_path %>
                </li>
                <li>
                    <%= link_to 'Generate Keywords', seo_get_unique_words_path %>
                </li>
            </ul>
            </li>
            <li>
                <%= link_to 'Meta Tags Analysis', seo_get_meta_tags_path %>
            </li>

            <li>
                <%= link_to 'SEO Report', seo_get_seo_report_path %>
            </li>
            <li>
                <%= link_to 'Google Page Speed', seo_get_page_speed_path %>
            </li>
        </ul>

</div>
