
<!DOCTYPE html>
<html>
<head>
    <title>Rbeyondforth</title>

    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application',  media: 'all','data-turbolinks-track' => false %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
</head>
<body data-turbolinks="false"><!-- disabling turbolinks for proper working of gooogle analytics code -->
<div>
    <%= render "common/header" %>
</div>
<div id="tabandbreadcrumbs">
    <%= render "common/tab" %>
    <%= render_breadcrumbs(">") %>

</div>

<div id="mainwall" style="min-height: 600px;">
    <div id="flash" class="container">
        <% flash.each do |name, msg| %>
            <div class="alert alert-<%=name == :notice ? name == :notice ? "info" : "success" : "danger"%>">
                <a class="close" data-dismiss="alert" style="align-content: center">x</a>
                <%= msg %>
            </div>
        <% end %>
    </div>
    <div style="padding-top: 10px;">
        <%= yield %>
    </div>
</div>

<div>
    <%= render "common/footer" %>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#flash').slideUp();
        }, 7000);
    })
</script>
</html>
