
<!DOCTYPE html>
<html>
<head>
    <title>Rbeyondforth</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',  media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
</head>

<body>
<div>
    <%= render "common/header" %>
</div>
    <%= render "common/tab" %>
    <%= render_breadcrumbs ('>') %>

<div style="min-height: 600px;">
    <div id="flash" class="container">
        <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "alert alert-info" %>
        <% end %>
    </div>
    <div>
        <div class="col-md-3 col-xs-3" >
            <%= render :partial => "common/seo_left_menu" %>
        </div>
        <div class="col-md-9 col-xs-9">
            <%= yield %>
        </div>
    </div>
</div>


<div>
    <%= render "common/footer" %>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#flash').slideUp();
        }, 7000);
    })

</script>
</html>
