
<!DOCTYPE html>
<html>
<head>
    <title>Rbeyondforth</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',  media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

</head>

<body>
<div>
    <%= render "common/header" %>
</div>
<div id="tabandbreadcrumbs">
    <%= render "common/tab" %>
    <%= render_breadcrumbs(">") %>

</div>

<div id="mainwall" style="min-height: 600px;">
    <div id="flash" class="container">
        <% flash.each do |name, msg| %>
            <div class="alert alert-<%=name == :notice ? "success" : "danger"%>">
                <a class="close" data-dismiss="alert" style="margin-top: 5px;">x</a>
                <%= content_tag :div, msg, class: "alert alert-info" %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-3" style="padding-left:65px;">
            <%= render "left_menu" %>
        </div>
        <div class="col-md-6 media well ">
            <%= yield %>
        </div>
    </div>
</div>

<div>
    <%= render "common/footer" %>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#flash').slideUp();
        }, 7000);
    })
</script>
</html>
